@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@layer base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family:
      ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  img,
  svg {
    display: block;
  }

  button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  [hidden] {
    display: none;
  }
}

.prose {
  font-size: 16px;
  line-height: 1.6;
}

.prose p {
  margin-bottom: 1.5em;
}

.prose p:last-child {
  margin-bottom: 0;
}

.prose a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
}

.prose code {
  font-family: inherit;
  background-color: rgb(244 244 245);
  padding: 0.125em 0.375em;
}

.prose pre {
  font-family: inherit;
  background-color: rgb(244 244 245);
  padding: 0.75em 1.25em;
  overflow-x: auto;
  margin-bottom: 1.5em;
}

.prose pre code {
  background: none;
  padding: 0;
}

.prose blockquote {
  background-color: rgb(244 244 245);
  border-left: 2px solid rgb(212 212 216);
  padding: 0.75em 1.25em;
  margin-left: 0;
  margin-bottom: 1.5em;
}
