# FADING_HOME is set automatically in debug builds (no need to set here)
FADING_CLI_CF_ACCOUNT_ID=op://vault/item/field
FADING_CLI_CF_API_TOKEN=op://vault/item/field
FADING_CLI_KV_NAMESPACE_ID=op://vault/item/field
FADING_CLI_R2_BUCKET=op://vault/item/field
FADING_CLI_R2_ACCESS_KEY_ID=op://vault/item/field
FADING_CLI_R2_SECRET_ACCESS_KEY=op://vault/item/field
FADING_CLI_ENCRYPTION_KEY=op://vault/item/field
